
<div class="container" id="haha">
<form action="asked/write" method="POST">
    <h1 class="title">Asked</h1>
    <p><textarea name="content" class="form-control" rows="10" cols="120"></textarea></p>
    <p>  <button type="submit" class="btn btn-default">익명의 질문 남기기</button></p>
</form>

<a class="link" href="/asked/list"><h3>질문목록으로</h3></a>

</div>